driver-client/src/main/resources/wsdl/RouteWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.fr/al/five/route" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RouteWebServiceImplementationService" targetNamespace="http://www.polytech.fr/al/five/route">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.fr/al/five/route" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.fr/al/five/route">
  <xs:element name="getRoute" type="tns:getRoute"/>
  <xs:element name="getRouteResponse" type="tns:getRouteResponse"/>
  <xs:complexType name="getRoute">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:car"/>
      <xs:element minOccurs="0" name="arg1" type="tns:position"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="car">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentPosition" type="tns:position"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="type" type="tns:carType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="position">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:float"/>
      <xs:element minOccurs="0" name="longitude" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carType">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="priority" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRouteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:route"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="route">
    <xs:sequence>
      <xs:element minOccurs="0" name="departure" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="encounteredLights" nillable="true" type="tns:trafficLight"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="instructions" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trafficLight">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="position" type="tns:position"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotAuthorizedCarException" type="tns:NotAuthorizedCarException"/>
  <xs:complexType name="NotAuthorizedCarException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getRoute">
    <wsdl:part element="tns:getRoute" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRouteResponse">
    <wsdl:part element="tns:getRouteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotAuthorizedCarException">
    <wsdl:part element="tns:NotAuthorizedCarException" name="NotAuthorizedCarException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RouteWebService">
    <wsdl:operation name="getRoute">
      <wsdl:input message="tns:getRoute" name="getRoute">
    </wsdl:input>
      <wsdl:output message="tns:getRouteResponse" name="getRouteResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NotAuthorizedCarException" name="NotAuthorizedCarException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RouteWebServiceImplementationServiceSoapBinding" type="tns:RouteWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRoute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRoute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRouteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotAuthorizedCarException">
        <soap:fault name="NotAuthorizedCarException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RouteWebServiceImplementationService">
    <wsdl:port binding="tns:RouteWebServiceImplementationServiceSoapBinding" name="RouteWebServiceImplementationPort">
      <soap:address location="http://localhost:8080/priority-rules-backend/webservices/RouteWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>